/* Common */
body{
    color: white;
}
section{
    padding: 5%;
}

/* Buttons */
.green{
    background-color: #1abc9c;
    color: white;
}

/* Header */
header{
    background-color: #2c3e50;

    text-transform: uppercase;
}
.ms_logo_container{
    height: 100%;
}

/* Nav */
nav{
    text-transform: uppercase;
    height: 100%;
}
.navblock{
    height: 100%;
}
ul{
    list-style-type: none;
    height: 100%;
}
ul li{
    display: inline-block;
    margin: 10px;
}
ul li a{
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

/* Jumbo */
.ms_jumbo{
    background-color: #1abc9c;
    text-align: center;
}
.ms_img_container{
    max-height: 250px;
}

/* Portfolio */
.ms_portfolio{
    color: black;
}
.ms_box{
    padding: 15px;
    border-radius: 50px;
}

/* About */
.ms_about{
    background-color: #1abc9c;
}
.ms_about_container{
    width: 70%;
    margin: auto;
}

/* Contact Me */
.ms_contactme{
    background-color: white;
    color: black;
}
.ms_contactme_container{
    width: 70%;
    margin: auto;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="number"],
.form-container textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    padding-left: 0;
    padding-bottom: 0;

    font-size: 20px;
}


/* Footer */
.ms_prefooter{
    background-color: #3a546d;
    color: white;

    text-align: center;
}
.footer{
    background-color: #2c3e50;
    color: white;
}